html *{
  box-sizing: border-box;
}

:root {
  font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,Ubuntu, Cantarell, "Helvetica Neue", Lato, sans-serif;
  font-size: 2em;
}
header {
  display: flex;
  justify-content: center;
}

.main_image {
  display: flex;
  justify-content: center;
  max-width: 100%;
  height: auto;
}

.center_text {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 30%;
  left: 23%;
  font-size: 1.7em;
}

.howitworks_image {
  display: flex;
  justify-content: center;
  border-radius: 100%;
  height: 50%;
  width: 50%;
}

.main_nav {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  font-size: 1.5em;
}

h2,p {
  text-align: center;
}

h2 {
  font-size: 2em;
}

p {
  font-size: 1.5em;
}
footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 1em;
  margin-top: 10%;
  padding-right: 70%;
  background-color: orange;
}
